.container {
  width: 100%;
  position: relative;
  top:0;
}

.container h2 {
  text-align: center;
}
.main-grid {
  display: grid;
  /* column specifies width */
  /* row specifies height */
  grid-template: 100px 100px / 40% 40%;
  grid-row-gap: 5px;
}

.main-grid div:nth-child(1) {
  background: red;
}

.main-grid div:nth-child(2) {
  background: blue;
}

.main-grid div:nth-child(3) {
  background: green;
}

.main-grid div:nth-child(4) {
  background: lightblue;
}
