body {
  font-family: Sans-Serif;
  background-color: green;
}

header {
  background-image: url("border.jpg");
  background-size: 100px 100px;
  text-align: center;
  height: 100px;
  top: 0px;
  padding: 0px;
}

header h1 {
  text-align: center;
  padding-top: 32px;
}

.container {
  width: 80%;
  position: relative;
  top:0;
  padding-left: 10%;
  padding-right: 10%;
}

.grid {
  display: grid;
  /* column specifies width */
  /* row specifies height */
  grid-template: 100px 100px / 100px 100px 100px;
  grid-row-gap: 5px;
  text-align: center;

}

.grid div:nth-child(1) {
  <p>
  <img src="red.jpg"
}

.grid div:nth-child(2) {
  <img src="red.jpg">;
}

.grid div:nth-child(3) {
  <img src="red.jpg">;
}

.grid div:nth-child(4) {
  <img src="red.jpg">;
}

.grid div:nth-child(5) {
  <img src="red.jpg">;
}

.grid div:nth-child(6) {
  <img src="red.jpg">;
}

.grid div:nth-child(1):hover {
  background: red;
}

.grid div:nth-child(2):hover {
  background: blue;
}

.grid div:nth-child(3):hover {
  background: darkgreen;
}

.grid div:nth-child(4):hover {
  background: yellow;
}

.grid div:nth-child(5):hover {
  background: purple;
}

.grid div:nth-child(6):hover {
  background: orange;
}

footer {
  text-align: center;
}
